<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# headerここから %>
<header class="navbar navbar-expand-lg navbar-light bg-light py-5">
  <div class="container-fluid">
    <h1 class="navbar-brand mb-0 fs-2">
      <%= link_to '勤怠管理', root_path,style: "text-decoration: none; color: black;margin-right:24px;" %>
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link fs-4' %>
          </li>
          <li class="nav-item">
            <%= link_to 'タイムカード', new_attendance_path, class: 'nav-link fs-4' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'hoge', "#", class: 'nav-link fs-4' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: "nav-link fs-4" %>
          </li>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link fs-4' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
<%# headerここまで %>

    <%= yield %>
  </body>
</html>
